<!--FILES PDF-->

<!--<div class="container p-3 my-3 bg-light text-black">-->
<!--  <div class="row">-->
<!--    <div class="col-sm">-->
<!--<h3>{{ item.title }}</h3>-->
<!--    <iframe src="{{ item.file.url }}" width="500px" height="500px" >-->
<!--    </iframe>-->
<!--    </div>-->
<!--    <div class="col-sm">-->
<!--      {{ item.title|upper|linebreaks }}-->
<!--     {{ item.content|linebreaks }}-->
<!--      <a href="{{ item.file.url }}" class="btn btn-dark">Go to file</a>-->

<!--  </div>-->
<!--</div>-->
<!--    </div>-->

<!--IMAGE-->

<!--{% for image in moodboard %}-->
<!--  <div class="image">-->
<!--    <a href="{{ image.get_absolute_url }}">-->
<!--      {% thumbnail image.image "300x300" crop="10%" as im %}-->
<!--        <a href="{{ image.get_absolute_url }}">-->
<!--          <img src="{{ im.url }}">-->
<!--        </a>-->
<!--      {% endthumbnail %}-->
<!--    </a>-->
<!--    <div class="info">-->
<!--      <a href="{{ image.get_absolute_url }}" class="title">-->
<!--        {{ image.title }}-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--{% endfor %}-->


<!--<div class="container p-0" style="">-->
<!--  <div class="card" style="">-->

<!--{% thumbnail item.file "320x229" crop="center" as im %}-->
<!--    <img src="{{ im.url }}">-->
<!--{% endthumbnail %}-->


<!--    <div class="card-body p-3">-->
<!--      <h5 class="card-title">{{ item.title }}</h5>-->
<!--      <p class="card-text">{{ item.text }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--  <div class="contents p-0 mx-3 mb-3 rounded-3">-->

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-secondary rounded-3 p-1">-->
<!--  <div class="container-fluid">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarToggler">-->
<!--      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">-->
<!--      {% for c in categories %}-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="{% url "course_list_category" c.slug %}">-->

<!--         {{ c.title }}-->
<!--                      </a>-->

<!--        </li>-->
<!--      {% endfor %}-->


<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--    </div>-->

<!--   {% block domready %}-->

<!-- // executes when HTML-Document is loaded and DOM is ready-->
<!--console.log("document is ready");-->


<!--  $( ".card" ).hover(-->
<!--  function() {-->
<!--    $(this).addClass('shadow').css('cursor', 'pointer');-->
<!--  }, function() {-->
<!--    $(this).removeClass('shadow');-->
<!--  }-->
<!--);-->

<!--// document ready-->
<!--      {% endblock %}-->

