{% load embed_video_tags %}

<div class="container p-0" style="">
    <div class="card">
          <div class="card-body p-2">


<!--  <div class="row">-->
<!--    <div class="col">-->
<!--        {% video item.url "305 x 200" query="rel=0&wmode=transparent" %}-->
<!--    </div>-->
<!--    <div class="col">-->
<!--        {{ item.title|upper|linebreaks }}-->
<!--        {{ item.content|linebreaks }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--            {{ item.title|upper|linebreaks }}-->
<!--        {{ item.content|linebreaks }}-->
{% video item.url "335 x 200" %}
                  <h5 class="card-title">{{ item.title }}</h5>
</div>

</div>

</div>
