{% load embed_video_tags %}

<div class="container p-0 bg-light text-center" style="">



<!--  <div class="row">-->
<!--    <div class="col">-->
<!--        {% video item.url "305 x 200" query="rel=0&wmode=transparent" %}-->
<!--    </div>-->
<!--    <div class="col">-->
<!--        {{ item.title|upper|linebreaks }}-->
<!--        {{ item.content|linebreaks }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--            {{ item.title|upper|linebreaks }}-->
{% video item.url "335 x 100%" %}
          <br>
    <h5> {{ item.title }}</h5>
        {{ item.content }}
          <br>
</div>
