{% extends "base.html" %}

{% load thumbnail %}


{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All Courses
  {% endif %}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-1 m-2 bg-light rounded">
    <li class="breadcrumb-item"><a href="/"><svg width="1em" height="1em" viewBox="0 2 17 15.5" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
  <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
</svg></a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if subject %}
        {{ subject.title }} Courses
        {% elif category %}
        {{ category.title|title }} Courses
        {% elif tag %}
        {{ tag|title }} Courses
    {% else %}
      All Courses
    {% endif %}</li>
  </ol>
</nav>


    <div class="container text-center" style="height: 135px">
          {% if subject %}
                        <br>        <br>
             <h5 class="card-title"> {{ subject.title }} Courses</h5>
             <p class="card-text"> {{ subject.content}} </p>
          {% elif category %}
                        <br>        <br>
             <h5 class="card-title"> {{ category|title }} Courses</h5>
<!--             <p class="card-text"> {{ subject.content}} </p>-->
          {% elif tag %}
        <br>        <br>
        <h5 class="card-title"> {{ tag|title }} Courses</h5>
          {% else %}
                        <br>
        <br>
          <form class="form-inline" action="{% url "search" %}" method="get" target="" onsubmit='submitSearch()' style="display: inline-block; border-radius:22px;">
            <tr><th></th><td><input class="" type="text" name="query" placeholder="What do you want to learn?" style="width: 100%;" required id="id_query"></td></tr>
              <div class="" style="display: inline-block; border-radius:22px;">
            <button class="mx-5 mt-0 btn btn-white rounded-circle text-dark

position-relative top-100 start-100 translate-middle-y

" type="submit" value="Search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="63" fill="#adb5bd" class="bi bi-search" viewBox="0 0 16 66">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
              </div>
        </form>
<!--                <a href="{% url "search" %}" class="btn btn-outline-success">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">-->
<!--  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--</svg>Search</a>-->
            <!--             <p class="card-text">All the best courses</p>-->
            <!--             <p class="card-text">Top earning skills</p>-->
            <!--             <p class="card-text">Most loved/in-demand technologies</p>-->
<!--             <p class="card-text">We've curated the best courses available online into Learning Paths</p>-->
          {% endif %}


<!--            <p><a href="{% url "chat:course_chat_room" "11" %}" target="_blank">-->
<!--      <button type="button" class="btn btn-dark"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-dots-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--  <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg></button></a></p>-->

<!--                    <h5 class="card-title">Want to create your own courses?</h5>-->
<!--        <p class="card-text">Contact Stephen for an instructor login at the email address you received</p>-->

<!--        <h5 class="card-title">Want to create your own courses?</h5>-->
<!--        <p class="card-text">Start teaching today</p>-->
<!--        <a href="{% url "manage_course_list" %}" class="btn btn-primary">Create a course</a>-->
    </div>

<!--          <div id="more" class="tab-pane fade">-->
<!--    <div class="card-body">-->
<!--    <h5 class="card-title">Are you an education or training provider?</h5>-->
<!--    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--        </div>-->


<!--  <div class="contents text-white bg-secondary mb-3 rounded-3">-->
<!--    <h6>SUBJECTS</h6>-->
<!--    <ul id="browse">-->
<!--      <li {% if not subject %}class="selected"{% endif %}>-->
<!--        <a href="{% url "course_list" %}">All</a>-->
<!--      </li>-->
<!--      {% for s in subjects %}-->
<!--        <li {% if subject == s %}class="selected"{% endif %}>-->
<!--          <a href="{% url "course_list_subject" s.slug %}">-->
<!--            {{ s.title }}<span class="badge bg-outline text-white">{{ s.total_courses }}</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
<!--  </div>-->


<div class="container text-center">


<div class="contents p-0 mx-3 mb-3 rounded-3">

<nav class="navbar navbar-expand-lg navbar-light bg-white rounded-3 p-0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

          <li class="nav-item rounded-pill" {% if not subject and not category %}class="selected" style="background-color: #e9ecef"{% endif %}>
        <a class="nav-link active" aria-current="page" href="{% url "course_list" %}">All</a>
      </li>
      {% for s in subjects %}
        <li class="nav-item rounded-pill" {% if subject == s %}class="selected" style="background-color: #e9ecef" {% endif %}>
          <a class="nav-link active" aria-current="page" href="{% url "course_list_subject" s.slug %}">
            {{ s.title }}
          </a>
        </li>
      {% endfor %}

          <li class="nav-item rounded-pill"><a class="nav-link active" aria-current="page" href="/">#</a></li>


{% for c in categories %}

        <li class="nav-item rounded-pill"  {% if category == c %}class="selected" style="background-color: #e9ecef" {% endif %}>
          <a class="nav-link active" aria-current="page" href="{% url "course_list_category" c.slug %}">

         {{ c.title }}
                      </a>

        </li>

      {% endfor %}
           <a class="btn btn-outline-light rounded-pill text-dark" href="{% url "search" %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></a>
</svg>
      </ul>
    </div>
  </div>
</nav>
    </div>
<br><br>
<br>

    <div class="">
        <div class="container">
            <div class="row" data-masonry='{"percentPosition": true }'>
                {% for course in courses %}
                {% with subject=course.subject %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card text-dark p-2 mb-4 bg-white">
                        <a href="{% url "course_detail" course.slug %}"><img src="https://res.cloudinary.com/hmklz8dtf/image/upload/v1/{{ course.file }}" class="card-img-top rounded-3" onerror="this.style.display='none'">
                        <h5 class="card-header bg-white text-center">{{ course.title }}</h5>
                        <div class="card-body">
                            <h6 class="card-text">{{ course.overview }}</h6>
<!--                            <p class="card-text"><small class="text-muted">Instructor: {{ course.owner.get_full_name }}</small></p>-->
                        </div>
                        <div class="card-footer bg-white border-0">
                            <span  class="badge rounded-pill bg-secondary">{{ course.total_modules }} modules</span></a>
                            <a href="{% url "course_list_subject" subject.slug %}"><span class="badge rounded-pill bg-success"> {{ subject }}</span></a>

                            {% for tag in course.tags.all %} <a href="{% url "course_list_tag" tag.slug %}"><span  class="badge rounded-pill bg-danger">{{ tag.name }}</span></a>
  {% endfor %}
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}


