{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
<div class="col mx-3">
  <p><h1 style="background-color: #f8f9fa">My courses</h1></p>
</div>

  <div class="container">
    <div class="row">
      {% for course in object_list %}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card p-2 mb-4 bg-white" style="min-height: 370px; min-width: 250px; max-width: 460px">
          <a href="{% url "student_course_detail" course.id %}"><img src="https://res.cloudinary.com/hmklz8dtf/image/upload/v1/{{ course.file }}" class="card-img-top rounded-bottom" style="border-radius: 20px" onerror="this.style.display='none'">
          <div class="card-body">
          <h4 class="card-title bg-white">{{ course.title }}</h4>
            <h6 class="card-text">{{ course.overview|slice:104 }}</h6>
            <h6 class="card-text"><small class="text-muted">Instructor: {{ course.owner.get_full_name }}</small></h6>
          </div>
           <div class="card-footer bg-white border-0 text-center my-2">
            <span class="badge rounded-pill bg-secondary">Access course</span>
          </div>
        </div>
        </a>
      </div>
      {% empty %}
      <p>
        You are not enrolled in any courses yet.
        <u><a href="{% url "course_list" %}">Browse courses</a></u>
        to enrol in a course.
      </p>
      {% endfor %}
    </div>
  </div>


{% endblock %}
